

<div class ='wrapper'>
  <div class ='sunrise-main'>
    <div class ='side-bar'>
      <%= render "shared/side_bar"%>
    </div>
    <div class ='main-contents'>
      <%= render "shared/main_contents"%>  
    </div>
  </div>




</div >