<div class='introduction'>

</div>

<section class="card">
  <img class="card-img" src="images/bear.jpg" alt="ないよ">
  <div class="card-content">
    <h1 class="card-users">名前</h1>
    <p class="card-text">テキスト</p>
  </div>
  <div class="card-link">
    <a href="http://webcreatorbox.com/about">About</a>
    <a href="http://webcreatorbox.com/">Website</a>
  </div>
</section> 