.sunrise-main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: lightblue;
}

.sunrise-main .side-bar {
  background: green;
  width: 20%;
  border-radius: 10px;
  margin: 20px;
}

.sunrise-main .main-contents {
  background: lightblue;
  width: 80%;
  overflow: scroll;
}

.nav-bar {
  background-color: lightcoral;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px red;
          box-shadow: 0 2px 5px red;
}

.nav-bar .notice {
  font-size: 15px;
  text-align: center;
}

.nav-bar .alert {
  text-align: center;
}
