.sunrise-main{
  height:100vh;
  width: 100vw;
  display: flex;
  
  .side-bar{
    background:green;
    width: 20%;
  }
  
  .main-contents{
    background: lightblue;
    width: 80%;
    overflow: scroll;
  }
}

.nav-bar{
  background-color: lightcoral;
  .notice{
    font-size: 15px;
    text-align: center;
  }
  .alert{
    text-align: center;
  }
}