.sunrise-main{
  height:100vh;
  width: 100vw;
  display: flex;
  background: lightblue;
  
  .side-bar{
    background:green;
    width: 20%;
    border-radius: 10px;
    margin: 20px;
  }
  
  .main-contents{
    background: lightblue;
    width: 80%;
    overflow: scroll;
  }
}

.nav-bar{
  background-color: lightcoral;
  border-radius: 5px;
  box-shadow: 0 2px 5px red;
  .notice{
    font-size: 15px;
    text-align: center;
  }
  .alert{
    text-align: center;
  }
}